:root {
    --green: #44d393;
    --red: rgb(255, 109, 109);
}

.green {
    color: var(--green);
}
.red {
    color: var(--red);
}
.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.none {
    display: none !important;
}

.block {
    display: block !important;
}

.block-cursor {
    cursor: not-allowed !important;
}

body {
    background-image: linear-gradient(to right, #5689d4, #6d769cc0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: cursive;
    overflow: hidden;
    padding: 0;
    margin: 0px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.123)
}

.select-none {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.nav {
    display: inline;
    margin-inline: 8px;
    cursor: pointer;
}

.logo {
    display: inline;
}

#logo {
    font-size: x-large;
}

#logo-top-png {
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
}

.nav-home-div {
    border: 2px solid black;
    padding: 10px;
    background-color: rgba(2, 2, 2, 0.082);
}

.nav-home-div:hover {
    background-color: rgba(2, 2, 2, 0);
}

#home-icon, #event-icon {
    font-size: x-large;
    position: relative;
    left: 2px;
}

.nav-events-div, .nav-profile-div {
    background-color: rgba(0, 0, 0, 0.253);
    border: 2px solid black;
    padding: 10px;
    padding-inline: 16px;
}

.nav-events-div:hover, .nav-message-div:hover, .nav-profile-div:hover, .nav-notify-div:hover {
    background-color: rgba(0, 0, 0, 0.158);
}

.nav-message-div, .nav-notify-div {
    background-color: rgba(0, 0, 0, 0.253);
    border: 2px solid black;
    padding: 10px;
}

#message-icon, #notify-icon {
    font-size: x-large;
    position: relative;
    left: 2px;
}

#profile-icon {
    font-size: x-large;
}

.profile-overview {
    overflow-y: auto;
    margin-top: -8px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    width: 16.15rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.123);
}

#home-dp {
    margin-top: 8px;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: relative;
    top: 0.02rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#home-dp:hover {
    filter: brightness(0.7);
}

#home-name {
    margin-top: -2px;
    font-weight: bold;
    font-size: large;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#home-mail, #home-bday, #home-about {
    margin-top: -10px;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
}

#home-mail {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#home-gender {
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
    font-size: small;
}

#home-editprofile {
    cursor: pointer;
    padding: 5px;
    margin-top: -10px;
    text-align: center;
    background-color: #0546a8;
    font-size: 15px;
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#home-editprofile span {
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;    
}
::-webkit-scrollbar-thumb {
    background: #888;
}

#home-bday-day, #home-bday-month {
    outline: none;
    font-weight: bold;
    font-size: medium;
    font-family: cursive;
    text-align: center;
    border: none;
    background-color: transparent;
    width: 22px;
}

#home-bday-year {
    outline: none;
    font-weight: bold;
    font-size: medium;
    font-family: cursive;
    text-align: center;
    border: none;
    background-color: transparent;
    width: 45px;
}

.main-content {
    margin-top: -8px;
    border: 2px solid black;
    width: 100%;
}

.friends {
    margin-top: -8px;
    border: 2px solid black;
    width: 20rem;
    background-color: rgba(0, 0, 0, 0.123);
    overflow-y: auto;
}

.friends-header {
    background-color: rgba(0, 0, 0, 0.123);
    border: 2px solid black;
    padding-top: 1px;
    font-size: x-large;
    font-weight: bold;
    display: flex;
}

.friends-tab {
    border: 2px solid black;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.friends-tab:hover {
    background-color: rgba(0, 0, 0, 0.082);
}

.friends-content, .pending-req, .sent-req, .search {
    display: flex;
    flex-direction: column;
}

#f-header {
    font-size: normal;
    font-weight: bold;
    margin: 2px;
    text-decoration: underline;
}

.frnds {
    display: none;
}

.friend-list, .pending-list, .sent-list {
    display: flex;
    width: 10.3rem;
    margin-right: 10px;
}

.friend-dp {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: relative;
    top: 0.02rem;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.friend-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friend-status {
    position: relative;
    left: 0.4rem;
    top: 1.3rem;
}

.no-content {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.acc-dec-box {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-top: 0.8rem
}

.accept {
    color: var(--green);
    cursor: pointer;
}
.decline {
    color: var(--red);
    cursor: pointer;
}

.dsent {
    margin-left: 0.5rem;
    margin-top: 1.3rem;
    height: 100%;
}

.friend-s {
    margin-bottom: -1rem;
}

.name-s {
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
}

.add-friend {
    position: relative;
    left: 0.4rem;
    top: 1.5rem;
    cursor: pointer;
    height: 100%;
    font-size: large;
}

#search span {
    margin-left: 1rem;
    font-size: small;
}

#search-users {
    height: 2rem;
    position: relative;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    font-size: medium;
}